@import "~styles/photon/variables.scss";

.item-box {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  .item-header {
    background-color: $color-c06;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10%;

    padding: 0 $padding-more;

    h1 {
      margin: 0; padding: 0;
      word-wrap: break-word;
      text-overflow: ellipsis;
    }
  }

  .item-content {
    width: 100%;
    height: calc( 80% - (2 * #{$padding-more})) ;
    overflow-x: hidden;
    overflow-y: auto;
    padding: $padding-more $padding-more;
  }


  .item-actions {

    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    padding: $padding-more;
    background-color: $color-c11;
  }
}


/*
 * success / error
 */
.item-box.failed , .item-box.error {
  div.terms , div.message {
    color: $warning-color;
  }
}


.item-box.success {
  div.terms , div.message {
    color: $positive-color;
  }
}




/*
 * media queries
 */
@media (max-width: $smalltablet-size) {

  .item-box {
    min-width: 320px;

    input[type="text"], {
      min-width: auto;
    }
  }

}
