.model-form {
  display: flex;
  flex-direction: column;
}

.form-group.hidden {
  display: none;  
}


.color-input {
  display: flex;
  flex-direction: row;
  .color-picker {
    width: 32px; height: 32px;
  }
}