/*
 * General utilities useful in css
 */

@define-extend flex {
  display: flex;
}

@define-extend .horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

@define-extend .vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
