@import "~styles/photon/variables.scss";

.gallery-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: $padding $padding-more;
  margin: $padding-more auto;

  max-width: 100%;

  .actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: $padding;
    background-color: $border-color;

    .info {
      align-self: flex-start;
    }
  }

  ul.gallery {
    padding: 0;
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
    margin: 0 auto;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 32%;

    .item {
      display: inline-block;

      width: 240px;
      height: 180px;

      background-size: contain;

      margin: $padding-mini 0px;
      //border-radius: 5px;
      background: #1c1d22;
      color: $default-color;
    }
  }

}




/* bigger devices */
@media (min-width: $desktop-size) {
  .gallery-page ul.gallery .item {
    width: 480px;
    height: 360px;
  }
}

/* small devices */
@media (max-width: $desktop-size) {
  .gallery-page ul.gallery .item {
    width: 240px;
    height: 180px;
  }
}
