@import "~styles/photon/variables.scss";

.list-page {
  width: 100%;
  text-align: center;
}

.list-component {
  max-width: 40%;

  border: 1px solid $border-color;
  border-radius: $default-border-radius;
  margin: 40px auto;

  th , td {
    padding: 10px;

    &:last-child { border-right: 0; }
  }
}
