@font-face {
  font-family: "Droid Sans Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/droid-sans.ttf") format("truetype");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Base Application Styles */
body {
  color: rgb(178,178,178);
  background: #000;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 12px;
}

#app {
  width: 100%;
  display: flex;
}
#app > div {
  margin: 0px auto;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
