//
// Forms.css
// Adapted from Bootstrap's forms.less (https://github.com/twbs/bootstrap/blob/master/less/forms.less)
// --------------------------------------------------

label {
  display: inline-block;
  font-size: $font-size-default;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="search"] {
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
}

// Form without label
.form-control {
  display: inline-block;
  width: 100%;
  min-height: 25px;
  margin: $padding 0px;
  padding: $padding-less $padding;
  font-size: $font-size-default;
  line-height: $line-height-default;
  background-color: $chrome-color;
  border: 3px solid transparent;
  border-radius: $default-border-radius;
  outline: none;

  &.bordered { border: 3px solid $border-color; }

  &:focus {
    border: 3px solid transparent;
    background-color: $invert-color;
    color: $invert-front-color;
  }
}

// Reset height for `textarea`s
textarea {
  height: auto;
}

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
  
  .form-control {
    margin-top: 0;
    margin-bottom: $padding-more;    
  }
}

// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
  }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px;
}

// Form actions
.form-actions .btn {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}


// Tags input
.react-tagsinput {
  width: 100%;
  min-height: 25px;
  padding: $padding-less $padding;
  font-size: $font-size-default;
  line-height: $line-height-default;
  background-color: $chrome-color;
  border: 3px solid $border-color;
  border-radius: $default-border-radius;
  outline: none;

  &--focused {
    border-color: $focus-input-color;
    box-shadow: 0 0 0 3px $focus-input-color;
  }

  .react-tagsinput-tag {
    background-color: $primary-color;
    border-radius: 2px;
    border: 1px solid $border-color;
    color: $default-color;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
  }

  .react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
  }

  .react-tagsinput-tag a::before {
    content: " ×";
  }

  .react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #777;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 1px;
    outline: none;
    padding: 5px;
    width: 80px;
  }

  // Everything in the Same line
  .react-autosuggest__container {
    display: inline-block;
  }

  .react-autosuggest__suggestions-container {
    position: absolute;
    background-color: $chrome-color;
    border: 1px solid $border-color;
    min-width: 300px;

    li {
      padding: $padding-less;
      border-bottom: 1px solid $border-color;
      list-style: none;
    }
    li:hover {
      background-color: $primary-color;
    }
    li:last-child {
      border-bottom: 0;
    }
  }

}
