//
// Variables
// --------------------------------------------------


// Type
// --------------------------------------------------

$font-path: '../fonts/' !default;

// Try to use the system's font on whatever platform the user is on.
$font-family-default: 'Abel', monospace, serif;

$font-size-default: 14px !default;
$font-size-large: 18px;
$font-size-header: 40px;

$font-weight: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-light: 300 !default;
$line-height-default: inherit;

//$font-header: 'Inconsolata', monospace;
$font-body: 'Abel';
$font-textarea: 'Inconsolata', monospace;
$font-header: 'Abel';
$font-subheader: 'Abel';

$menu-height: 44px;
$font-header-size: 24px;

// Colors
// --------------------------------------------------

$background-color: #ffffff;
$background-front-color: #333;

// Main colors
$primary-color: #3b99fc !default;
$chrome-color:  #efefef !default;
$shadow-color: rgba(0,0,0,0.3);
$sidebar-color: #1f1f1f;

$invert-color: #090909;
$invert-front-color: #f9f9f9;

// Copy
$gray-color: #333 !default;

// Borders
$border-color: #ddd !default;
$dark-border-color: #c2c0c2 !default;
$darker-bottom-border-color: #a19fa1 !default;
$toolbar-border-color: #939293 !default;

// Action colors
$default-color:  #fff !default;
$positive-color: #34c84a !default;
$negative-color: #fc605b !default;
$warning-color: #fdbc40 !default;

// Shades
$dark-color: #57acf5 !default;

// Focus and active colors
$active-color: #116cd6;
$focus-input-color: lighten($primary-color, 10%)  !default;

// Other
// --------------------------------------------------

// Border radius
$default-border-radius: 2px;

// Padding
$padding: 10px;
$padding-mini: 3px;
$padding-less: 5px;
$padding-more: 20px;

// Animation
$timing: 0.3s;

// z-indexes
$zoverlay:  2000;
$zheader:   1500;
$zmenu:     1000;
$zbody:     0;


// Devices sizes
$phone-size: 320px;
$smalltablet-size: 481px;
$tablet-size: 641px;
$laptop-size: 961px;
$desktop-size: 1025px;
$highres-size: 1281px;

// category colors
$color-c01: rgb(54, 153, 77);
$color-c02: rgb(23, 118, 57);
$color-c03: rgb(18, 91, 60);
$color-c04: rgb(19, 104, 85);
$color-c05: rgb(0, 124, 107);
$color-c06: rgb(67, 150, 142);
$color-c07: rgb(106, 155, 160);
$color-c08: rgb(70, 138, 173);
$color-c09: rgb(78, 111, 164);
$color-c10: rgb(78, 84, 172);
$color-c11: rgb(74, 48, 134);
$color-c12: rgb(80, 18, 93);
$color-c13: rgb(93, 39, 109);
$color-c14: rgb(156, 13, 107);
$color-c15: rgb(193, 0, 87);
$color-c16: rgb(229, 0, 89);
$color-c17: rgb(235, 43, 94);
$color-c18: rgb(255, 33, 97);
$color-c19: rgb(255, 92, 115);
$color-c20: rgb(255, 81, 77);
$color-c21: rgb(249, 46, 22);
$color-c22: rgb(230, 13, 0);
$color-c23: rgb(198, 0, 18);

// Animation

// Default IOS easing
$easing-default: cubic-bezier( 0.420, 0.0,  0.58, 1.0);
$perspective-default: 500px;
