.player-component {
  // aspect ratio 16/9
  min-width: 500px;
  min-height: calc(500px * 3/4.0);
  overflow: hidden;

  margin: 0px auto;
  text-align: center;

  background-color: #000;
  color: #000;
}
