.record-component {
  // aspect ratio 16/9
  min-width: 300px;
  min-height: calc(300px * 9/16.0);
  overflow: hidden;

  margin: 0px auto;
  text-align: center;

  background-color: #ca6064;
  color: #000;
}
