@import "~styles/photon/variables.scss";

/* upload css */
.upload-component {

  min-width: 400px;
  max-width: 80%;
  width: 60%;
  padding: $padding $padding-more;
  margin: $padding-more auto;

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
        flex: auto;
        margin: 0px auto;
        margin-bottom: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        &.url {
          input[type="button"] {
            background: #37a893;
            color: #efefef;
            justify-content: center;
            padding: 5px;
            outline-width: 0px;
            margin: 0px $padding;
            border: 0px;
            cursor: pointer;
          }
        }

        label {
          min-width: 50px;
        }

        &.embed-preview {
          > div {
            width: 100%
          }
        }

        &.terms { margin-top: 20px; }
    }

    > div.submit {
      align-self: center;
    }

  }

  input[type="text"], {
    min-width: 300px;
    width: 300%;
  }
  input[type="submit"] {
    background: #37a893;
    color: #efefef;
    justify-content: center;
    padding: 5px;
    outline-width: 0px;
    border: 0px;
    cursor: pointer;

    &:hover {
      background-color: #47c893;
    }
  }
}



/*
 * Sign up success / error
 */
.upload-component.failed {
  form > div.terms {
    color: $warning-color;
  }
}


.upload-component.success {
  form > div.terms {
    color: $positive-color;
  }
}






/*
 * media queries
 */
@media (max-width: $smalltablet-size) {

.upload-component {
  min-width: 360px;

  input[type="text"], {
    min-width: auto;
  }
}



}
