// Photon UI KIT
@import "~styles/photon/photon.scss";
@import "~styles/photon/variables.scss";
@import "~styles/ui/utils.scss";

/*
 * Fonts
 *
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700,300);
@font-face {
  font-family:"Source Code Pro",Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
*/

/* latin
@import url(//fonts.googleapis.com/css?family=Share+Tech+Mono);
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(http://fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: Agency;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/agency-fb-bold.woff);
}
*/

/* Abel */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;

  src: local('Abel'), url('~styles/fonts/Abel-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



/* Base Application Styles */
:focus { outline: none; }

body,.window {
  font-family: $font-body;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: $font-size-default;
  font-weight: $font-weight;
  overflow-x: none;
  overflow-y: auto;
}

a {
  font-family: $font-subheader;
  color: #000;
  cursor: pointer;
  outline: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
}

textarea , input {
  font-family: $font-textarea;
}
input[type="button"] , button{
  font-family: $font-body;
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-header;
  text-transform: uppercase;

  a {
    font-family: $font-subheader;
  }
}












/*
 * mobile viewport = full
 */
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}
