@import "~styles/photon/variables.scss";

/*
 * header-nav
 *
 */
.toolbar.header-nav {
  position: relative;
  z-index: $zheader;

  width: 100%;
  height: $menu-height;
  margin: 0px;
  padding: 0px;

  border: 0;
  background-color: transparent;
  border-bottom: 1px solid $shadow-color;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.toolbar.header-nav.floated {
  position: absolute;
}

// Left logo
.header-nav .logo {
  width: 30%;

  a {
    margin: 0px;
    margin-left: 0;
    padding: $padding;
    height: $menu-height - 2;

    color: $gray-color;
    font-size: $font-header-size;
    font-family: $font-header;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

// Center nav
.header-nav .featured {
  align-self: center;
  margin: 0 auto;
  flex-grow: 0.5;
}

// Right nav
.header-nav .nav.toolbar-actions {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: $padding;
  height: 100%;


  a {
    color: $gray-color;
    padding: 10px;
    // border: 1px solid #242424;
    // border-top: 0px solid #474747; border-bottom: 1px solid #474747;

    &.popover-active {
      // border-bottom: 1px solid #000;
    }
    &.active {
      // background-color: #fff;
      // color: #000;
    }
  }
}


/*
 * Menu popover
 */
.header-nav .menu-popover {
  position: absolute;
  right: 0px;
  top: $menu-height - 1px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  z-index: $zmenu - 1;

  // Arrow
  &:before {
    content: "";
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent $dark-border-color transparent;
    position: absolute;
    right: 30px;
    top: -10px;
  }
}
.header-nav .menu-popover.active {
  pointer-events: all;
  visibility: visible;
}
