@import "~styles/photon/variables.scss";

$menu-height: 44px;

/*
 * header-nav
 *
 */
.header-nav {
  z-index: 1000;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: $menu-height;
  display: inline-block;
}

.header-nav .logo {
  float: left;
  left: 0;
  height: $menu-height;
}

.header-nav .logo a {
  margin-left: 0;
  white-space: nowrap;
  display: inline-block;
  margin: 0px;
  padding: $padding;
  height: $menu-height - 2;

  font-family: 'Source Code Pro', helvetica;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.header-nav .nav {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: $padding;
  float: right;
  height: 100%;
}
.header-nav .nav a {
  padding: 10px;
  // border: 1px solid #242424;
  // border-top: 0px solid #474747; border-bottom: 1px solid #474747;

  &.popover-active {
    // border-bottom: 1px solid #000;
  }
  &.active {
    // background-color: #fff;
    // color: #000;
  }
}


/*
 * Menu popover
 */
.header-nav .menu-popover {
  position: absolute;
  right: 0px;
  top: $menu-height - 1px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  z-index: $zmenu - 1;

  // Arrow
  &:before {
    content: "";
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent $dark-border-color transparent;
    position: absolute;
    right: 30px;
    top: -10px;
  }
}
.header-nav .menu-popover.active {
  pointer-events: all;
  visibility: visible;
}
