@import "~styles/photon/variables.scss";

/*
 * header-nav
 *
 */
.toolbar.header-nav {
  position: relative;
  z-index: $zheader;

  width: 100%;
  height: $menu-height;
  margin: 0px;
  padding: 0px;

  border: 0;
  background-color: transparent;
  border-bottom: 1px solid $shadow-color;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}


// Left logo
.header-nav .logo {
  width: 30%;

  a {
    margin: 0px;
    margin-left: 0;
    padding: $padding;
    height: $menu-height - 2;

    color: $gray-color;
    font-size: $font-header-size;
    font-family: $font-header;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

// Center nav
.header-nav .featured {
  align-self: center;
  margin: 0 auto;
  flex-grow: 0.5;
}

// Right navigation (login buttons)
.header-nav .nav.toolbar-actions {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: $padding;
  height: 100%;

  > a {
    color: $gray-color;
    padding: 10px;
  }

  .user-menu-link {
    a {
      .avatar { margin-right: $padding; }
    }
  }

}



/*
 * Floated header
 */
.toolbar.header-nav.floated {
  position: absolute;
  border-bottom: 0px;

  a {
    color: $invert-front-color;
  }
}




/*
 * Menu popover
 */
.header-nav .menu-popover {
  right: 0px;
  top: $menu-height - 1px;

}
