@import "~styles/photon/variables.scss";

.home-page {
    width: 100%;
    perspective: $perspective-default;

    .theather {
      position: static;
      height: 90vh;
      width: 100%;
      background-color: $invert-color;
      color: $invert-front-color;
      z-index: 0;

      h1,h2,h3,h4,h5,h6 {
        margin: 0;
        padding: 0;
      }
    }

    .theather + .page {
      z-index: 10;
      transform: translateZ(0px);
    }

    .theather.invert {
      background-color: $background-color;
      color: $background-front-color;
    }
}
