@import "~styles/photon/variables.scss";

.home-page {
    width: 100%;

    .theather {
      height: 70vh;
      width: 100%;

      perspective: $perspective-default;
      color: $invert-front-color;

      .info {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,50%);
      }

      .background {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: -1;
        background-size: cover;
        background-position: center;
      }
    }

    .theather + .page {
      z-index: 10;
      transform: translateZ(0px);
    }

    .theather.invert {
      background-color: $background-color;
      color: $background-front-color;
    }
}
