@import "~styles/photon/variables.scss";

.user-menu {
  .sub-box {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    margin: 0px auto;

    padding: 0;
    text-align: right;

    .list-group-header {
      .media-body {
        display: flex;
        align-items: center;
        flex-direction: row;
      }

      a {
        display: flex;
        align-items: center;
        flex-direction: row;
      }
    }
  }
}
