@import "~styles/photon/variables.scss";

.login-component {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  padding: 10px;
  margin: 0px auto;
  border-top: 0px;

  & > div {
    flex: auto;
    margin: 0px auto;
    margin-top: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &:first-child { margin-top: 0px; }
  }

  & > .submit {
    width: 50%;
  }
}



/*
 * Login failed
 */
.login-component.failed {
  .sub-box {
    background-color: $warning-color;
  }
}


.login-component.success {
  .sub-box {
    background-color: $positive-color;
  }
}
