@import "~styles/photon/variables.scss";

.profile-component {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  margin: 0px auto;
  border: 1px solid $border-color;

  padding: 0;
  text-align: right;

  .list-group-header {
    .media-body {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }
}
