@import "~styles/photon/variables.scss";

.signup-component {

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280ṕx;
    padding: 10px;
    margin: 0px auto;
    border-top: 0px;

    > .title, &.terms { display: block; }
    > .terms { margin-top: 20px; }
    > .signup {
      margin: 2*$padding-more 0px;
      text-align: left;
      width: 100%;
    }
    > .title {
      width: 80%;

      /*
       * Invite sucess/error
       */
      #invite {
        transition: background-color 0.3s $easing-default;

        &.empty {}
        &.error {
          border: 3px solid transparent;
          background-color: $warning-color;
          color: $invert-front-color;
          animation: shake 0.5s $easing-default;
        }
        &.success {
          border: 3px solid transparent;
          color: $invert-front-color;
          background-color: $positive-color;
        }
      }

    }
    > .submit {
      width: auto;
      align-self: center;
    }

  }

  .useful-actions {
    width: 300px;
    flex-grow: 0.5;
    float: right;
    text-align: center;
  }

}



