@import "~styles/photon/variables.scss";

.signup-component {
  min-width: 300px;
  width: 40%;
  padding: 10px 30px 20px 30px;
  margin: 40px auto 30px auto;
  border: 1px solid $border-color;

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
        flex: auto;
        margin: 0px auto;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;

        display: flex;

        &.title , &.terms { display: block; }
        &.terms { margin-top: 20px; }
    }

    > div.submit {
      width: auto;
      align-self: center;
    }

  }
}

/*
.signup-component #username,
.signup-component #password,
.signup-component #email {
  min-width: 300px;
}
*/
.signup-component .title {
  width: 80%;
  #invite {
    text-align: center;
    font-size: 16px;
  }
}
.signup-component input[type="submit"] {
  background: #37a893;
  color: #efefef;
  justify-content: center;
  margin-right: 10px;
  padding: 5px;
  outline-width: 0px;
  border: 0px;
  cursor: pointer;

  &:hover {
    background-color: #47c893;
  }
}


/*
 * Invite sucess/error
 */
#invite {
  &.empty {}
  &.error {
    background-color: #f00;
  }
  &.success {
    background-color: #0f0;
  }
}



/*
 * Sign up success / error
 */
.signup-component.failed {
  form > div.terms {
    color: #f00;
  }
}


.signup-component.success {
  form > div.terms {
    color: #0fb3d0;
  }
}
