<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>deriva</title>
  <meta name="application-name" content="deriva">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="favicon.ico?v=3" />

  <meta name="description" content="Deriva is an documentary aggregator in portuguese.">
  <meta property="og:image" content="https://snapdrop.net/images/touch/chrome-splashscreen-icon-384x384.png" />
  <meta property="og:url" content="https://deriva.net/" />

  <style>

body , html {
  background-color: #000;
  color: #fff;
}
.circles {
    height: 55vmin;
    width: 55vmin;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
    transition: all 1.2s linear;
}

.circle {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2.5vmin solid transparent;
    border-radius: 115% 140% 145% 110%/125% 140% 110% 125%;
    mix-blend-mode: screen;
}
.circle:nth-child(1) {
    border-color: #DB4437;
    transform-origin: 50%-0% 50%;
    animation: spin1 5.5s linear infinite;
}
.circle:nth-child(2) {
    border-color: #F4B400;
    transform-origin: 50% 50%+0%;
    animation: spin2 5.5s linear infinite;
}
.circle:nth-child(3) {
    border-color: #4285F4;
    transform-origin: 50%+0% 50%;
    animation: spin3 5.5s linear infinite;
}
.circle:nth-child(4) {
    border-color: #0F9D58;
    transform-origin: 50% 50%-0%;
    animation: spin4 5.5s linear infinite;
}

@keyframes spin1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(72deg);
    }
    100% {
        transform: rotate(-288deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(-144deg);
    }
    100% {
        transform: rotate(216deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(216deg);
    }
    100% {
        transform: rotate(-144deg);
    }
}
  </style>
</head>
<body>
  <div id="app">
    <div class="circles" id="circles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
  </div>

  <script type="text/javascript">
    window.manifest = {
      version: "<%= htmlWebpackPlugin.options.version %>",
      files: JSON.parse('<%= JSON.stringify(htmlWebpackPlugin.files) %>')
    }
  </script>
</body>
</html>
