<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>deriva</title>
  <meta name="application-name" content="deriva">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- <link rel="shortcut icon" href="favicon.ico?v=3" /> -->

  <meta name="description" content="Deriva is an documentary aggregator in portuguese.">
  <meta property="og:image" content="https://snapdrop.net/images/touch/chrome-splashscreen-icon-384x384.png" />
  <meta property="og:url" content="https://deriva.net/" />

  <style>

    body { margin: 0; padding: 0; }
    .welcome-screen h1 {
      margin: 0px auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-family: 'Abel', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 36px;
      color: #333;
      line-height: 1.6;
    }

    #loading-bar {
      position: absolute;
      top: 0px;
      height: 10px;
      width: 0%;
      background-color: #ff00ff;

      transition: width 0.35s ease-out;
    }
  </style>
</head>
<body>
  <div id="container">
    <div class="welcome-screen">
      <h1>🉑deriva</h1>
      <div class="loading-bar" id="loading-bar">
      </div>
    </div>
  </div>

  <script type="text/javascript">
  /* Chunks for loading */
    window.manifest = {
      version: "<%= htmlWebpackPlugin.options.version %>",
      files: JSON.parse('<%= JSON.stringify(htmlWebpackPlugin.files) %>')
    }
  </script>
</body>
</html>
