@import "~styles/photon/variables.scss";

.dashboard-page.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: $padding-more;
  width: 95%;

  .actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: $padding;

    .info {
      align-self: flex-start;
    }
  }


  .list-component {
    border: 1px solid $border-color;
    border-radius: 0;
    margin: 0 auto;

    .checked {
      background-color: $positive-color;
      box-shadow: 0 0 20px $shadow-color;
      transform: translate3d(0,0,40px);
    }

    thead,tbody {
      perspective: 1200px;
    }

    tr {
      transition: transform 0.15s $easing-default;
    }

    th , td {
      padding: 10px;
      max-width: 120px;

      &:last-child { border-right: 0; }
    }
  }

}
